{% extends "render_Page.html" %}

{% block title %}
  Checkout
{% endblock %}

{% block content %}
  <style>

    .container{
    font-family:helvetica, sans-serif;
      position:absolute;
      height:100%;
      width:100%;
      background-color:#efefef;
      padding-top:60px;
      padding-left:30px
    }

  </style>
<div class="container">
<h1 style = "text-decoration: underline overline; text-weight:bold;">Checkout</h1>

  <div class="order-info">
    <h3 style="padding-top:10px">Your order:</h3>
    <u2 style="padding-left:50px; font-style: italic;">
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }}
          <span>${{ item.total_price }}</span>
        </li>
      {% endfor %}
    </u2>
    <p style="padding-left:60px;font-weight:bold">Total: ${{ cart.get_total_price }}</p>
  </div>

  <form style="padding-top:30px;" action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Place order"></p>
    {% csrf_token %}
  </form>
{% endblock %}
</div>