<!-- homepage/templates/index.html -->
<!DOCTYPE html>
<html>
    {%load static%}
    <head>
        <meta charset="utf-8">
        <title>petEcommerce</title>
    </head>
    <style>

    </style>
    <body style="background:#2e4f84">
    <div>
            <h1>
                <a style="float: right; text-decoration:none; color:black; padding: 10px 25px;" href="contact_Us.html">Contact Us <a>
                    <a style="float: right; text-decoration:none; color: black; padding: 10px 15px;"  " href="about_Us.html">About Us<a>
                    <a style="float: right; text-decoration:none; color: black; padding: 10px 15px;" href="login.html">Login <a>
            </h1>
        </div>
    <div>
        <img src="https://ctd-thechristianpost.netdna-ssl.com/en/full/64211/dragon-ball-super.jpg?w=760&h=428"/>
        <h2>WE ARE WEEB SQUAD!!!!</h2>
    </div>

    </body>
</html>