<!-- homepage/templates/index.html -->
<!DOCTYPE html>
<html>
    {%load static%}
    <head>
        <meta charset="utf-8">
        <title>petEcommerce</title>
    </head>
    <style>
    </style>
    <body style="background:#2e4f84">
    <div>
            <h1>
                    <a style="float: left; text-decoration:none; color:black; padding: 10px 25px;" href="home.html">Pets R' Us</a>
                    <a style="float: right; text-decoration:none; color: black; padding: 10px 25px;" href="contact_Us.html">Contact Us <a>
                    <a style="float: right; text-decoration:none; color: black; padding: 10px 15px;"   href="about_Us.html">About Us<a>
                    <a style="float: right; text-decoration:none; color: black; padding: 10px 15px;" href="login.html">Login <a>
            </h1>
        </div>
    <p style="text-align: center; color: white; padding: 100px 25px;"><font size="7"><b>Contact Us</b></font></p>
    <p style="text-align: center; color: white; padding: 0px 60px"><font size="5"><b>Email us: petsrus.contact@gmail.com</b></font></p>
    <p style="text-align: center; color: white; padding: 0px 60px;"><font size="5"><br>Your email will be processed by our team within a few days,
                                                                                        after which we will contact you.</font></p>
    <p style="text-align: center; color: white; padding: 0px 60px;"><font size="5"> We look forward to hearing from you!</font></p>
    </body>
</html>