{% extends "render_Page.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<style>

    .container{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color:#ccd4e2;
    }
    .productpic {
        height:100%;
        width:50%;
        position:relative;
        padding-top: 100px;
        padding-left:50px;
        padding-right:50px;
        padding-bottom:50px;
        float:left;

    }

    .productpic img{
            height: 50em;
            width:40em;

    }
    .product-detail{
        height:100%;
        width:50%;
        position:relative;
        display:inline;

        padding-top:100px;
        float:right;

    }

    .product-detail h1{
        text-align:center;
    }

    .product-detail h2{
         text-align: center;
         text-decoration: none;
    }

    .product-detail p{
         margin-left: 80px;
    }
</style>

<div class="container">
<div class="productpic">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
</div>



<div class="product-detail" xmlns:cart="http://www.w3.org/1999/xhtml">

    <h1>{{ product.name }}</h1>
    <h2>({{ product.category }})</h2>
    <p class="price">${{ product.price }}</p>
      {{ product.description|linebreaks }}
    <form action="{% url "cart:cart_add" product.id %}" method="post">
  {{ cart_product_form }}
  {% csrf_token %}
  <input style="margin-left: 80px" type="submit" value="Add to cart">
  </div>

{% endblock %}

</div>