<!-- homepage/templates/home.html-->
<?php require 'menu.php'; ?>
<!DOCTYPE html>
<html>
    {%load static%}
    <head>
        <meta charset="utf-8">
        <title>petEcommerce</title>

    </head>

    <body style="background:#2e4f84">

    <div style="width:100%">
        <h1>
            <a style="float: left; text-decoration:none; color:white; padding: 10px 25px;" href="render_Page.html">Pets R' Us</a>
            <a style="float: right; text-decoration:none; color: white; padding: 5px 15px;" href="contact_Us.html">Contact Us </a>
            <a style="float: right; text-decoration:none; color: white; padding: 5px 15px;"   href="about_Us.html">About Us</a>
            <a style="float: right; text-decoration:none; color: white; padding: 5px 15px;" href="login.html">Login </a>

        </h1>
    </div>
    <img style="height:770px; width:100%" src="https://i.pinimg.com/originals/26/9e/98/269e9897fe5094a8d2bd1564575ba82f.jpg"/>

    </body>
</html>


