<!-- homepage/templates/index.html -->
<!DOCTYPE html>
<html>
    {%load static%}
    <div id="top"></div>
    <head>
        <meta charset="utf-8">
        <title>petEcommerce</title>
    </head>
    <style>
        top{
            background-color:blue;
           }
    </style>
    <body>
        <top>
            <h1>
                <p text-align: right;>PetCommerce</p>
              <a text-align: left; href="login.html">Login<a>
              <a text-align: left; href="aboutUs.html">About<a>
              <a text-align: left; href="contactUs.html">Contact Us<a>
            </h1>
        </top>
        <div>
              <img style="width: 100%;"
              style="height: 100%;"
              src="{% static "media/photo.jpg" %}">
        </div>
    </body>
</html>
