{% extends "render_Page.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<style>
.sidebar{
    position:fixed;
    height:100%;
    width:167px;
    x-overflow:hidden;
    z-index:1;
    top:0;
    left:0;
    background-color: #bfbfbf;
    padding-top:50px;


}

.categories{
        list-style-type: none;


}

.categories li{
    padding:20px;

}
.categories li a{
    text-decoration: none;
}

.categories li a:hover{
    color: #FFF;

}

.gridContainer{
        position: fixed;
        height:100%;
        width:100%;
        padding-top: 130px;
        padding-left:250px;
        background-color:#efefef;
        overflow-x:scroll;
        overflow-y:scroll;
}

.column img{
        height:300px;
        width:300px;
        margin-bottom:5px;
}

.header{
    display: inline;
}

.search{
    display: inline;
    float: right;
    margin-right: 13%;
    width: 40%;
    margin-top: 1%;

}
</style>

  <!-- SIDE BAR CODE -->
  <div class="sidebar">
    <h3 style = "margin-left:20%;margin-top:50%;text-decoration: underline overline;" >Categories</h3>
    <u2 class="categories", style = "float:right;">
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url "homepage:product_list" %}">All</a>
      </li>
      {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </u2>
  </div>


  <!-- Photo Grid Code-->
  <div class="gridContainer">
    <h1 class="header", style="font-family:helvetica, sans-serif;">{% if category %}{{ category.name }}{% else %}FIND YOUR BEST FRIEND TODAY!{% endif %}</h1>
     <form  action="render_Page.htmlcat">
        {% csrf_token %}
       <input type='text' >
      <input type='submit'>
</form>

    <div class="row">
      <div class="column">
        {% for product in products %}
        <a href="{{ product.get_absolute_url }}">
          <img style="height:300px;width:300px" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        {% endfor %}
      </div>
    </div>

  </div>
{% endblock %}